In [3]:
import pandas as pd

In [4]:
playerfile = "Resources/players_complete.csv"

In [5]:
players_df = pd.read_csv(playerfile, encoding="ISO-8859-1")
players_df.head()

   Player ID            SN  Age Gender
0          0     Marughi89   21   Male
1          1     Lirtedy26   40   Male
2          2  Chamistast30    7   Male
3          3     Lisirra25   24   Male
4          4      Lirtim36   23   Male

# Player Count

In [6]:
### Player Count
count = len(players_df["Player ID"])
print("Total Number of Players: " + "{:,}".format(count))

Total Number of Players: 1,163

# Purchasing Analysis (Total)

In [103]:
import pandas as pd

purchasefile = "Resources/purchase_data_3.csv"

In [104]:
### Purchasing Analysis (Total)
purchase_df = pd.read_csv(purchasefile, encoding="ISO-8859-1")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [105]:
uniqueitems_pd = len(purchase_df["Item ID"].unique())
print("Number of Unique Items: " + str(uniqueitems_pd))

avg_price = purchase_df["Price"].mean()
print("Average Price: " + "${:.2f}".format(avg_price))

print("Total Number of Purchases: " + str(len(purchase_df)))

print("Total Revenue: " + "${:.2f}".format(purchase_df["Price"].sum()))

Number of Unique Items: 64
Average Price: $2.92
Total Number of Purchases: 78
Total Revenue: $228.10

# Gender Demographics

In [110]:
### Gender Demographics
male_players_df = players_df.loc[players_df["Gender"] == "Male", ["Player ID","SN", "Age","Gender"]]
male_players_df.head()

   Player ID            SN  Age Gender
0          0     Marughi89   21   Male
1          1     Lirtedy26   40   Male
2          2  Chamistast30    7   Male
3          3     Lisirra25   24   Male
4          4      Lirtim36   23   Male

### Males

In [112]:
male_count = len(male_players_df)
male_count

percent_male_players = "{:.2f}%".format((male_count / count)*100)
print("Percentage of Male players is " + str(percent_male_players) + " which is " + str(male_count) + " out of " + str(count) + " total players")

Percentage of Male players is 82.03% which is 954 out of 1163 Total Players

### Females

In [106]:
### Gender Demographics
female_players_df = players_df.loc[players_df["Gender"] == "Female", ["Player ID","SN", "Age","Gender"]]
female_players_df.head()

    Player ID          SN  Age  Gender
5           5  Undimsya85   17  Female
6           6  Lirtassa77   20  Female
13         13   Lisirra87    7  Female
17         17   Lisassa49   21  Female
22         22  Sundista85   31  Female

In [114]:
female_count = len(female_players_df)
female_count

percent_female_players = "{:.2f}%".format((female_count / count)*100)
print("Percentage of Female players is " + str(percent_female_players) + " which is " + str(female_count) + " out of " + str(count) + " total players")

Percentage of Female players is 16.08% which is 187 out of 1163 total players

### Other / Non-Disclosed

In [117]:
other_players_df = players_df.loc[players_df["Gender"] == "Other / Non-Disclosed", ["Player ID","SN", "Age","Gender"]]
other_players_df.head()

     Player ID            SN  Age                 Gender
31          31     Lisossa63   24  Other / Non-Disclosed
59          59   Lisastsya37   16  Other / Non-Disclosed
108        108      Iskast78   20  Other / Non-Disclosed
191        191  Jiskebosya95   22  Other / Non-Disclosed
249        249    Undosian29   19  Other / Non-Disclosed

In [118]:
other_count = len(other_players_df)
other_count

percent_other_players = "{:.2f}%".format((other_count / count)*100)
print("Percentage of Other / Non-Disclosed players is " + str(percent_other_players) + " which is " + str(other_count) + " out of " + str(count) + " total players")

Percentage of Other / Non-Disclosed players is 1.89% which is 22 out of 1163 total players

# Age Demographics

In [94]:
import pandas as pd

purchasefile = "Resources/purchase_data_3.csv"

In [98]:
###Age Demographics
purchase_df = pd.read_csv(purchasefile, encoding="ISO-8859-1")
purchase_df.head()

bins = [0, 10, 14, 19, 150]
age_group = ["under 10", "10-14", "15-19", "20 & up"]

pd.cut(purchase_df["Age"], bins, labels=age_group).head()

0    20 & up
1    20 & up
2      15-19
3      15-19
4    20 & up
Name: Age, dtype: category
Categories (4, object): [under 10 < 10-14 < 15-19 < 20 & up]

In [99]:
purchase_df["Age Group Summary"] = pd.cut(purchase_df["Age"], bins, labels=age_group)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group Summary
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49,20 & up
1,1,Aidaira26,21,Male,12,Dawne,3.36,20 & up
2,2,Irim47,17,Male,5,Putrid Fan,2.63,15-19
3,3,Irith83,17,Male,123,Twilight's Carver,2.55,15-19
4,4,Philodil43,22,Male,154,Feral Katana,4.11,20 & up
5,5,Hainaria90,8,Male,8,"Purgatory, Gem of Regret",2.22,under 10
6,6,Aerithllora36,40,Male,148,"Warmonger, Gift of Suffering's End",4.65,20 & up
7,7,Undirra90,28,Male,27,"Riddle, Tribute of Ended Dreams",3.38,20 & up
8,8,Eolideu96,18,Male,111,Misery's End,1.79,15-19
9,9,Aesurstilis64,36,Male,139,"Mercy, Katana of Dismay",4.25,20 & up
10,10,Jiskimsda56,24,Male,126,Exiled Mithril Longsword,1.08,20 & up
11,11,Jiskim75,36,Female,173,Stormfury Longsword,4.01,20 & up
12,12,Lirtassa77,20,Female,90,Betrayer,4.12,20 & up
13,13,Hairith93,32,Male,23,Crucifer,1.62,20 & up
14,14,Yarith71,8,Male,44,Bonecarvin Battle Axe,4.36,under 10
15,15,Sondim43,23,Male,94,Mourning Blade,3.64,20 & up
16,16,Zhisrisu83,24,Male,174,Primitive Blade,1.36,20 & up
17,17,Rarallo90,9,Male,156,Soul-Forged Steel Shortsword,4.53,under 10
18,18,Inadeu25,12,Other / Non-Disclosed,176,Relentless Iron Skewer,2.12,10-14
19,19,Haerithp41,23,Male,154,Feral Katana,4.11,20 & up
20,20,Streural92,35,Male,10,Sleepwalker,1.81,20 & up
21,21,Eoralphos86,11,Male,131,Fury,2.99,10-14
22,22,Shaidanu32,16,Male,172,Blade of the Grave,2.71,15-19
23,23,Lassimla92,20,Male,158,"Darkheart, Butcher of the Champion",1.94,20 & up
24,24,Heosurnuru52,23,Male,70,Hope's End,4.28,20 & up
25,25,Ilara98,17,Male,71,Demise,3.09,15-19
26,26,Lirtistanya48,7,Male,98,"Deadline, Voice Of Subtlety",1.29,under 10
27,27,Sundaky74,25,Male,117,"Heartstriker, Legacy of the Light",4.71,20 & up
28,28,Sondassasya91,20,Female,170,Shadowsteel,1.74,20 & up
29,29,Arithllorin55,21,Male,90,Betrayer,4.12,20 & up
...,...,...,...,...,...,...,...,...
48,48,Eusty71,25,Male,84,Arcane Gem,4.81,20 & up
49,49,Frichilsa31,20,Male,14,Possessed Core,2.82,20 & up
50,50,Filon68,23,Male,176,Relentless Iron Skewer,2.12,20 & up
51,51,Palyon91,28,Male,1,Crucifer,3.67,20 & up
52,52,Assistast50,23,Female,118,"Ghost Reaver, Longsword of Magic",2.95,20 & up
53,53,Seostylis96,16,Female,94,Mourning Blade,3.64,15-19
54,54,Iskadar31,25,Male,111,Misery's End,1.79,20 & up
55,55,Pheodaisun84,20,Male,108,"Extraction, Quickblade Of Trembling Hands",2.26,20 & up
56,56,Yarmol79,17,Male,79,"Alpha, Oath of Zeal",1.31,15-19
57,57,Aeri79,23,Female,107,"Splitter, Foe Of Subtlety",4.15,20 & up
58,58,Undosian34,30,Female,105,Hailstorm Shadowsteel Scythe,1.02,20 & up
59,59,Aesririam61,39,Female,2,Verdict,2.65,20 & up
60,60,Firon67,23,Female,68,"Storm-Weaver, Slayer of Inception",4.39,20 & up
61,61,Jiskjask76,21,Male,31,Trickster,4.59,20 & up
62,62,Chanirra64,18,Male,25,Hero Cane,4.78,15-19
63,63,Isristira52,11,Female,41,Orbit,3.85,10-14
64,64,Chaniman66,24,Male,164,Exiled Doomblade,1.31,20 & up
65,65,Yarithrgue83,23,Male,181,Reaper's Toll,4.12,20 & up
66,66,Airi27,24,Male,4,Bloodlord's Fetish,1.91,20 & up
67,67,Undilsan50,22,Male,94,Mourning Blade,3.64,20 & up
68,68,Aidaira26,21,Male,82,Nirvana,1.77,20 & up
69,69,Chamalo71,34,Male,126,Exiled Mithril Longsword,1.08,20 & up
70,70,Undadar97,25,Male,98,"Deadline, Voice Of Subtlety",1.29,20 & up
71,71,Sundaky74,25,Male,60,Wolf,2.70,20 & up
72,72,Lisirra44,21,Male,180,Stormcaller,2.77,20 & up
73,73,Chamast86,35,Male,93,Apocalyptic Battlescythe,4.49,20 & up
74,74,Ardcil81,38,Male,163,Thunderfury Scimitar,4.16,20 & up
75,75,Heudai45,15,Male,167,"Malice, Legacy of the Queen",3.25,15-19
76,76,Chaniman66,24,Male,97,"Swan Song, Gouger Of Terror",1.92,20 & up
77,77,Syalallodil59,20,Male,134,Undead Crusader,2.15,20 & up

### Purchase Count by Age Groups

In [100]:
age_group=purchase_df.groupby("Age Group Summary")

print(age_group["SN"].count())

Age Group Summary
under 10     5
10-14        3
15-19       11
20 & up     59
Name: SN, dtype: int64

### Average Purchase Price by Age Groups

In [101]:
age_group = purchase_df.groupby("Age Group Summary")

purchase_summary = pd.Series(
    age_group["Price"].mean().map("${:.2f}".format))

purchase_summary

Age Group Summary
under 10    $2.76
10-14       $2.99
15-19       $2.76
20 & up     $2.96
Name: Price, dtype: object

### Total Purchase Value by Age Groups

In [102]:
age_group = purchase_df.groupby("Age Group Summary")

total_purchase_summary = pd.Series(
    age_group["Price"].sum().map("${:.2f}".format))

total_purchase_summary

Age Group Summary
under 10     $13.82
10-14         $8.96
15-19        $30.41
20 & up     $174.91
Name: Price, dtype: object