In [9]:
import pandas as pd

In [22]:
playerfile = "Resources/players_complete.csv"

In [23]:
#Player Count
players_df = pd.read_csv(playerfile, encoding="ISO-8859-1")
players_df.head()

   Player ID            SN  Age Gender
0          0     Marughi89   21   Male
1          1     Lirtedy26   40   Male
2          2  Chamistast30    7   Male
3          3     Lisirra25   24   Male
4          4      Lirtim36   23   Male

In [73]:
count = players_df["Player ID"].sum()
print("Total Number of Players: " + "{:,}".format(count))

Total Number of Players: 675703.00

In [50]:
import pandas as pd

purchasefile = "Resources/purchase_data_3.csv"

In [54]:
#Purchasing Analysis (Total)
purchase_df = pd.read_csv(purchasefile, encoding="ISO-8859-1")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [80]:
uniqueitems_pd = len(purchase_df["Item ID"].unique())
print("Number of Unique Items: " + str(uniqueitems_pd))

avg_price = purchase_df["Price"].mean()
print("Average Price: " + "${:.2f}".format(avg_price))

print("Total Number of Purchases: " + str(len(purchase_df)))

print("Total Revenue: " + "${:.2f}".format(purchase_df["Price"].sum()))

Number of Unique Items: 64
Average Price: $2.92
Total Number of Purchases: 78
Total Revenue: $228.10